<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="css/chat.css">
</head>
<body>
    <script>function clicked() {
        return confirm('Are u sure acc will be deleted');
    }
    function foo() {


var user_choice = window.confirm('Account will be deleted if you continue!!');

if(user_choice==true) {


    window.location='/deleteuser';  // you can also use element.submit() if your input type='submit' 


} else {


return false;


}
}</script>
    <div>
        logged in as <%= user %>
        <a href="/logout"><button>LOGOUT</button></a>
        <form action="/deleteuser" method="get"><input type="button" onClick="foo()" value="DELETE ACCOUNT"></form>

        
    </div>
    <div><form action="/postmessage" method="post">
        <input type="text" name="message" placeholder="message here" id="messageinput">
        <button type="submit">Send</button>
    </form></div>
    
    <div class="messagediv">
        <%if(!messages){%>
            no messages yet
        <%}else{%>
        <% for(let message of messages){%>
            <span class="messagespan"><%- message.username %> : <%- message.message %></span>
      
        <% }}%>
    </div>
    
</body>
</html>